{% load i18n admin_urls %}
{% load mix_admin %}

{% block object-tools-items %}

  {% comment %} Eric: custom action 3:自定义 action {% endcomment %}
  {% if action_form.fields.action.choices and is_mix %}
    {% for action in action_form.fields.action.choices %}
      {% with action_name=action|first %}
      {% if action_name != '' %}
      {% with options=action_options|get_item:action_name %}
      <li>
        <a {% if style='{{ options.style|default:"background:#0f59a4;" }}' href="javascript:void(0);" onclick="mix_custom_action('{{ action_name }}', {{ options|json_str }})">
          {% if action_name == 'delete_selected' %}批量删除{% else %}{{ action|last }}{% endif %}
        </a>
      </li>
      {% endwith %}
      {% endif %}
      {% endwith %}
    {% endfor %}
  {% endif %}
  {% comment %} Eric: custom action 3:自定义 action {% endcomment %}

  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktrans with cl.opts.verbose_name as name %}增加{% endblocktrans %}
    </a>
  </li>
  {% endif %}
{% endblock %}
