{% load i18n admin_urls %}
{% load mix_admin %}

{% block object-tools-items %}

  {% comment %} Eric: custom action 3:自定义 action {% endcomment %}
  {% if action_form.fields.action.choices and is_mix %}
    <script>
      function _getOrCreateInput(form, id, name, progress) {
        var input = document.getElementById(id);
        if (!input) {
          input = document.createElement("input");
          input.setAttribute("id", id);
          input.setAttribute("name", name);
          input.style.visibility="hidden";
          if (typeof progress == "function") progress(input);
          form.appendChild(input);
        }
        return input
      }

      function _perform_action(action, options) {
        var form = document.getElementById("changelist-form");

        var actionInput = _getOrCreateInput(form, "changelist-form-action", "action");
        actionInput.setAttribute("value", action);

        var indexInput = _getOrCreateInput(form, "changelist-form-index", "index");
        indexInput.setAttribute("value", 1);

        if (options.without_queryset) {
          var selectedActionInput = _getOrCreateInput(form, "changelist-form-selected-action", "_selected_action");
          selectedActionInput.setAttribute("value", 1);
        }
        else {
          var selectedActionInput = document.getElementById("changelist-form-selected-action");
          if (selectedActionInput) form.removeChild(selectedActionInput);
        }

        if (options.import_file) {
          var fileInput = _getOrCreateInput(form, "changelist-form-file", "file", function(input) {
            input.type = "file";
            form.enctype = "multipart/form-data";
            $(input).change(function () {
              form.submit();
            });
          });
          if (options.accept) fileInput.accept = options.accept;
          fileInput.click();
        }
        else {
          var fileInput = document.getElementById("changelist-form-file");
          if (fileInput) form.removeChild(fileInput);
          form.removeAttribute("enctype");
          form.submit();
        }
      };
      function action_post(action, options) {
        options = options || {};
        if (options.confirm) {
          swal.fire({
            title: "提示", text: options.confirm_message || "确认执行",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            showCancelButton: true
          })
          .then(function(t) {
            if (t.isConfirmed) {
              _perform_action(action, options);
            }
          });
        }
        else {
          _perform_action(action, options);
        }
        return false;
      }
    </script>

    {% for action in action_form.fields.action.choices %}
      {% with action_name=action|first %}
      {% if action_name != '' %}
      {% with options=action_options|get_item:action_name %}
      <li>
        <a href="javascript:void(0)" onclick="action_post('{{ action_name }}', {{ options|json_str }})">
          {% if action_name == 'delete_selected' %}批量删除{% else %}{{ action|last }}{% endif %}
        </a>
      </li>
      {% endwith %}
      {% endif %}
      {% endwith %}
    {% endfor %}
  {% endif %}
  {% comment %} Eric: custom action 3:自定义 action {% endcomment %}

  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktrans with cl.opts.verbose_name as name %}增加{% endblocktrans %}
    </a>
  </li>
  {% endif %}
{% endblock %}
