
#actions-and-object-tools {
    display:flex;
    flex-direction: column;
}

#actions-and-object-tools .object-tools {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    float: none;
    margin: 0 0 8px 0;
}

#actions-and-object-tools .object-tools li {
    height: inherit;
    margin: 12px 12px 0 0;
}


#changelist .actions {
    padding: 0;
}

#changelist-search {
    margin-top: 12px;
}

#searchbar {
    width: 200px;
    height: 28px;
    padding: 0 8px;
    margin: 0;
}

#custom-changelist-filter {
    display: flex;
    flex-wrap: wrap;
    padding:0;
    align-items: baseline;
}

.custom-filter {
    display: flex;
    padding: 0;
    margin-right: 20px;
    margin-top: 12px;
    align-items: baseline;
}

.custom-filter h3 {
    padding-left: 0;
    margin: 0;
}

.custom-filter select {
    min-width: 120px;
    margin: 0;
}

#changelist-search .submit-btn {
    height:28px;
    padding:0 12px;
    margin-left: 8px;
    margin-right: 12px;
}

div.form-row {
    overflow: hidden;
}

@media (max-width: 767px) {

    .custom-filter {
        width: 100%;
        margin-right: 0;
    }

    .custom-filter select {
        flex-grow: 1;
    }

    #searchbar {
        width: inherit;
        flex-grow: 1;
    }
}

/* @media (max-width: 1024px) {
    #changelist-search .quiet {
        margin: 5px 0 0 0;
    }
} */

/* 侧栏 */

#x-header {
    position: fixed;
    z-index: 999;
    width: 100%;
}

#x-container {
    position: fixed;
    padding-top:53px;
    height: calc(100% - 53px);
    width: 100%;
}

#x-flex-container {
    display: flex;
    height: 100%;
}

#x-content {
    flex-grow: 2;
    overflow-y: scroll;
}

#x-sidebar {
    width: 220px;
    background: #222d32;
    overflow-y: scroll;
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    #x-header {
        position: relative;
    }

    #x-container {
        padding-top:0;
    }

    #x-sidebar {
        display: none;
    }

}

.x-sidebar-menu {
    width: 100%;
    margin: 0;
    margin-left: -40px;
}

.x-sidebar-menu-root {
    padding-bottom: 20px;
}

.x-sidebar-item {
    padding: 0;
}

.x-sidebar-item a {
    display: block;
    padding: 15px;
    color: white;
}

.x-sidebar-item a:hover {
    background: #415690;
}

.x-sidebar-item-icon {
    float: right;
    width:16px;
    height: 16px;
    background-repeat: no-repeat;
}

.x-sidebar-item-icon-normal {
    background-image: url(../img/next.png);
}

.x-sidebar-item-icon-active {
    background-image: url(../img/down.png);
}

.x-sidebar-menu-sub {
    background: #222332;
}

.x-sidebar-subitem {
    padding: 0;
}

.x-sidebar-subitem a {
    padding-left: 25px;
}

.x-sidebar-subitem-active {
    background: #417690;
}
